/*  Include Bootstrap css */

@import "bootstrap/index";
@import "font-awesome";
@import "vars";

/* Custom Styles */

html {
  color: @black;
  position: relative;
  min-height: 100%;
  body {
    font-family: 'Oxygen', sans-serif;
    margin: 0 0 20px;
    background: @offwhite;
    header {
      background: teal;
    }
    footer {
      background: @black;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 20px;
      width: 100%;
    }
  }
}