<section class="section-1" id="about-section">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 max-width">
                <img class="andrew" src="img/andrew.png" alt="Andrew Fumagalli" />
                <p>Hello, I’m Andrew Fumagalli, creator of AFvisions.com, and multi-disciplinary graphic designer living in Austin, Texas.</p>
                <p>My priority is the needs of my clients and ensuring I am an effective and reliable designer, while supplying results the client and I are both excited about. </p>
                <p>I am grateful for every learning experience: the invigorating projects, the relentless training and invaluable mentors.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-2" id="work-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="mar-pad-0">
                    <li class="btn-open-modal" data-target="#portfolio-carousel" data-slide-to="0"><img src="/img/thumbs/Portfolio_Thumbnails-01.jpg" />
                        <p>Signs Decals Banners</p>
                    </li>
                    <li class="btn-open-modal" data-target="#portfolio-carousel" data-slide-to="13"><img src="/img/thumbs/Portfolio_Thumbnails-07.jpg" />
                        <p>International Palm Society</p>
                    </li>
                    <li class="btn-open-modal" data-target="#portfolio-carousel" data-slide-to="14"><img src="/img/thumbs/Portfolio_Thumbnails-03.jpg" />
                        <p>Adventure Ash</p>
                    </li>
                    <li class="btn-open-modal" data-target="#portfolio-carousel" data-slide-to="15"><img src="/img/thumbs/Portfolio_Thumbnails-04.jpg" />
                        <p>Trai Mai Thai</p>
                    </li>
                    <li class="btn-open-modal" data-target="#portfolio-carousel" data-slide-to="20"><img src="/img/thumbs/Portfolio_Thumbnails-05.jpg" />
                        <p>Mayfield Bodyworks</p>
                    </li>
                    <li class="btn-open-modal" data-target="#portfolio-carousel" data-slide-to="21"><img src="/img/thumbs/Portfolio_Thumbnails-06.jpg" />
                        <p>Tea Leaves</p>
                    </li>
                    <li class="btn-open-modal" data-target="#portfolio-carousel" data-slide-to="7"><img src="/img/thumbs/Portfolio_Thumbnails-02.jpg" />
                        <p>Logos</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section-3" id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 max-width">
                <h3 class="text-center ">Have a question? Have a project?</h3>
                <form ng-submit="mainApp.submit(contactform)" id="contactform" name="contactform" class="contact-form form-horizontal" role="form" novalidate>
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && mainApp.submitted }">
                        <div class="col-xs-12">
                            <input ng-model="mainApp.formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="name" required>
                            <p ng-show="contactform.inputName.$invalid && mainApp.submitted" class="error-block">Your name is required.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input ng-model="mainApp.formData.inputCompany" type="text" class="form-control" id="inputCompany" name="inputCompany" placeholder="company name">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && mainApp.submitted }">
                        <div class="col-xs-12">
                            <input ng-model="mainApp.formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="email" required>
                            <p ng-show="contactform.inputEmail.$invalid && mainApp.submitted" class="error-block">Enter a valid email.</p>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && mainApp.submitted }">
                        <div class="col-xs-12">
                            <textarea ng-model="mainApp.formData.inputMessage" class="form-control" rows="4" id="inputMessage" name="inputMessage" placeholder="..." required></textarea>
                            <p ng-show="contactform.inputMessage.$invalid && mainApp.submitted" class="error-block">Please Enter a Message</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-xs-12">
                            <button type="submit" class="btn btn-default btn-email" ng-disabled="contactform.$invalid && submitButtonDisabled">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
                <p ng-class="mainApp.result" ng-show="mainApp.msg" class="result-msg">{{ mainApp.resultMessage }}</p>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="portfolio-modal" tabindex="-1" role="dialog" aria-labelledby="portfolioModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-body">
                <div id="portfolio-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <!-- <ol class="carousel-indicators">
                        <li data-target="#portfolio-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#portfolio-carousel" data-slide-to="1"></li>
                        <li data-target="#portfolio-carousel" data-slide-to="2"></li>
                    </ol> -->
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                         <div class="item active">
                            <img src="/img/projects/signs/artboard-10.jpg" alt="chalk board">
                            <div class="carousel-caption">
                                Signs Decals Banners
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/signs/artboard-2.jpg" alt="honda decals">
                            <div class="carousel-caption">
                                Signs Decals Banners
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/signs/artboard-3.jpg" alt="car">
                            <div class="carousel-caption">
                                Signs Decals Banners
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/signs/artboard-4.jpg" alt="sign">
                            <div class="carousel-caption">
                                Signs Decals Banners
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/signs/artboard-5.jpg" alt="jasonfest">
                            <div class="carousel-caption">
                                Signs Decals Banners
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/signs/artboard-8.jpg" alt="logo">
                            <div class="carousel-caption">
                                Signs Decals Banners
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/logos/artboard-2.jpg" alt="logo">
                            <div class="carousel-caption">
                                Logos
                            </div>
                        </div>
                
                         <div class="item">
                            <img src="/img/projects/logos/artboard-3.jpg" alt="logo">
                            <div class="carousel-caption">
                                Logos
                            </div>
                        </div>
                         <div class="item">
                            <img src="/img/projects/logos/artboard-4.jpg" alt="logo">
                            <div class="carousel-caption">
                                Logos
                            </div>
                        </div>
                         <div class="item">
                            <img src="/img/projects/logos/artboard-5.jpg" alt="logo">
                            <div class="carousel-caption">
                                Logos
                            </div>
                        </div>
                         <div class="item">
                            <img src="/img/projects/logos/artboard-6.jpg" alt="logo">
                            <div class="carousel-caption">
                                Logos
                            </div>
                        </div>
                         <div class="item">
                            <img src="/img/projects/logos/artboard-7.jpg" alt="logo">
                            <div class="carousel-caption">
                                Logos
                            </div>
                        </div>
                         <div class="item">
                            <img src="/img/projects/logos/artboard-8.jpg" alt="logo">
                            <div class="carousel-caption">
                                Logos
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/commemorative-poster.jpg" alt="International Palm Society">
                            <div class="carousel-caption">
                                International Palm Society
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/adventure-ash.jpg" alt="adventure-ash">
                            <div class="carousel-caption">
                                Adventure Ash
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/thai/artboard-11.jpg" alt="Trai Mai Thai">
                            <div class="carousel-caption">
                                Trai Mai Thai
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/thai/slide-4.jpg" alt="Trai Mai Thai">
                            <div class="carousel-caption">
                                Trai Mai Thai
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/thai/slide-3.jpg" alt="Trai Mai Thai">
                            <div class="carousel-caption">
                                Trai Mai Thai
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/thai/slide-2.jpg" alt="Trai Mai Thai">
                            <div class="carousel-caption">
                                Trai Mai Thai
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/thai/slide-1.jpg" alt="Trai Mai Thai">
                            <div class="carousel-caption">
                                Trai Mai Thai
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/mayfield/mayfield-project.jpg" alt="Mayfield Bodyworks">
                            <div class="carousel-caption">
                                Mayfield Bodyworks
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/projects/sesa-trip-rings.jpg" alt="sesa-trip-rings">
                            <div class="carousel-caption">
                                Sesa Trip Rings
                            </div>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" data-target="#portfolio-carousel" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                    <a class="right carousel-control" data-target="#portfolio-carousel" role="button" data-slide="next">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        <span class="sr-only"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
