<div class="container">
<div class="row">
            <div class="col-xs-12 col-sm-4">
 <img class="logo-text" src="img/logo-text.png"  alt="AFVisions Logo"/>
 </div>
 
     <div class="col-xs-12 col-sm-4 text-center">
 <ul du-scroll-container="about">
 	<li><a class="link-footer" ng-click="toTheTop()" >About</a></li>
 	<li><a class="link-footer" >Work</a></li>
 	<li><a class="link-footer" >Contact</a></li>
 	 
 </ul>
 </div>
 
     <div class="col-xs-12 col-sm-4">
     </div>
     </div>
</div>