<section class="section-1">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 max-width">
            <img class="andrew" src="img/andrew.png"  alt="Andrew Fumagalli"/>
                <p>Hello, I’m Andrew Fumagalli, creator of AFvisions.com, and multi-disciplinary graphic designer living in Austin, Texas.</p>
                <p>My priority is the needs of my clients and ensuring I am an effective and reliable designer, while supplying results the client and I are both excited about. </p>
                <p>I am grateful for every learning experience: the invigorating projects, the relentless training and invaluable mentors.</p>
            </div>
        </div>
    </div>
</section>
<section class="section-2" id="#about" du-scroll-about>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               	<ul>
               		<li><img src="https://i.ytimg.com/vi/a6KGPBflhiM/hqdefault.jpg"/><p>Signs Decals Banners</p></li>
               		<li><img src="https://i.ytimg.com/vi/a6KGPBflhiM/hqdefault.jpg"/><p>Trai Mai Thai</p></li>
               		<li><img src="https://i.ytimg.com/vi/a6KGPBflhiM/hqdefault.jpg"/><p>Mayfield Bodyworks</p></li>
               		<li><img src="https://i.ytimg.com/vi/a6KGPBflhiM/hqdefault.jpg"/><p>International Palm Society</p></li>
               		<li><img src="https://i.ytimg.com/vi/a6KGPBflhiM/hqdefault.jpg"/><p>AdventureAsh</p></li>
               		<li><img src="https://i.ytimg.com/vi/a6KGPBflhiM/hqdefault.jpg"/><p>Tea Leaves</p></li>

               	</ul>
               	   <a class="btn btn-default" ng-click="show()">Show a Modal</a>
     
     
      
            </div>
       
        </div>
    </div>
</section>
<section class="section-3">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 max-width">
                <p class="text-center">Have a questions? Have a project?</p>
                <form action="" method="post" class="contact-form">
       
        <input id="form-name" type="text" autocomplete="off" maxlength="20" name="name" placeholder="name" tabindex="1"> 
        
        <input id="form-company-name" type="text" autocomplete="off" maxlength="20" name="company-name" placeholder="company name"  tabindex="2"> 
        
        <input id="form-email" type="text" autocomplete="off" maxlength="30" name="email" placeholder="email" tabindex="3"> 
    
        <textarea id="form-text" name="comment" autocomplete="off" placeholder="..." tabindex="3" rows="12" cols="45"></textarea>
        <input id="btn-email" type="submit" name="submit" tabindex="4" value="Send Email"> 
     </form>
            </div>
     
        </div>
    </div>
</section>